
@{
    ViewBag.Title = "SelectOrderByID";
}

<h2>SelectOrderByID</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>
        Order ID : <input type="text" name="oid" />
    </div>
    <div>
        <input type="submit" value="Display" name="command" />
    </div>
    if (ViewBag.data != null)
    {
        <table border="1">
            <tr>
                <th>ProdId</th>
                <th>OrderId</th>
                <th>Qty</th>
                <th>TotalAmount</th>
                <th>Payment Mode</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>@ViewBag.data.ProdId</td>
                <td>@ViewBag.data.OrderId</td>
                <td>@ViewBag.data.Qty</td>
                <td>@ViewBag.data.TotalAmount</td>
                <td>@ViewBag.data.PaymentMode</td>
                <td>@ViewBag.data.Status1</td>
            </tr>
        </table>
    }
}
<div>
    @Html.ActionLink("Insert New Product","InsertNewProduct")
</div>
