@model List<WebApplication1.Models.Employee>
@{
    ViewBag.Title = "GetEmployees";
}

<h2>GetEmployees</h2>
<table border="1">
    <tr>
        <th>EmpID</th>
        <th>EmpName</th>
        <th>Dept</th>
        <th>Desg</th>
        <th>Salary</th>
        <th>ProjID</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    
    @foreach(var m in Model)
    {
<tr>
    <td>@m.EmpID</td>
    <td>@m.EmpName</td>
    <td>@m.Dept</td>
    <td>@m.Desg</td>
    <td>@m.Salary</td>
    <td>@m.projid</td>
    <td>@Html.ActionLink("Edit " + m.EmpID, "UpdateEmployee","RegForm", new { id = m.EmpID },null)</td>
    <td style="background-color:red;">@Html.ActionLink("Delete " + m.EmpID, "DeletEmployee","RegForm", new { id = m.EmpID },null)</td>
</tr>
    }
</table>
<div>
    @Html.ActionLink("Insert New", "InsertNewEmployee")
</div>
